fastapi
pydantic
sqlalchemy[asyncio]
uvicorn
gunicorn
asyncpg
firebase-admin
pycountry
psycopg2-binary
python-multipart
sqlalchemy_utils
cryptography
boto3
Celery
redis
httpx==0.20.0
h11<0.13.0
aioredis<2.0.0