fastapi==0.73.0
pydantic==1.9.0
uvicorn==0.17.4
gunicorn==20.1.0
asyncpg==0.25.0
firebase-admin==5.2.0
pycountry==22.1.10
psycopg2-binary==2.9.3
python-multipart==0.0.5
cryptography==36.0.1
boto3==1.20.54
redis==4.1.3
httpx==0.20.0
h11==0.12.0
aioredis==1.3.1
## The following requirements were added by pip freeze:
amqp==5.0.9
anyio==3.5.0
asgiref==3.5.0
async-timeout==4.0.2
billiard==3.6.4.0
botocore==1.23.54
CacheControl==0.12.10
cached-property==1.5.2
cachetools==5.0.0
celery==5.2.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
Deprecated==1.2.13
google-api-core==2.5.0
google-api-python-client==2.37.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-cloud-core==2.2.2
google-cloud-firestore==2.3.4
google-cloud-storage==2.1.0
google-crc32c==1.3.0
google-resumable-media==2.2.1
googleapis-common-protos==1.54.0
greenlet==1.1.2
grpcio==1.43.0
grpcio-status==1.43.0
hiredis==2.0.0
httpcore==0.13.7
httplib2==0.20.4
idna==3.3
importlib-metadata==4.11.0
jmespath==0.10.0
kombu==5.2.3
msgpack==1.0.3
packaging==21.3
prompt-toolkit==3.0.28
proto-plus==1.20.0
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
rfc3986==1.5.0
rsa==4.8
s3transfer==0.5.1
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.31
SQLAlchemy-Utils==0.38.2
starlette==0.17.1
typing-extensions==4.1.0
uritemplate==4.1.1
urllib3==1.26.8
vine==5.0.0
wcwidth==0.2.5
wrapt==1.13.3
zipp==3.7.0
